<div>
  <h1>＜ユーザー情報＞</h1>
  <h3>ユーザー名：<%= @user.name %></h3>
  <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'png', fallback: "no_image.png" %>
  <% if @user.id == current_user.id %>
  <p><%= link_to"プロフィール編集", edit_user_path(@user) %></p>
  <% else %>
    <%= render 'relationships/follow_button', user: @user %>

  <% end %>
</div>

<h3>＜投稿一覧＞</h3>
<% @post_images.each do |post_image| %>
<div class="border-bottom">
  <div class="offset-md-5">
    <div class="mt-5">
      
      <%= paginate @post_images %>
      
  <%= link_to post_image_path(post_image.id) do %>
  <%= attachment_image_tag post_image, :image %>
  <% end %>

  <p>投稿ユーザー画像 : <%= attachment_image_tag post_image.user, :profile_image, :fill, 60, 60, fallback: "no_image.png" %></p>
  <p>タイトル : <%= post_image.post_title %></p>
  <p>説明 : <%= post_image.caption %></p>
  <p>ユーザーネーム : <%= post_image.user.name %></p>


</div>
</div>
</div>

<% end %>