<%= @contact.name %>様、問い合わせ承りました。<br>

【TEL】：<%= @contact.phone_number %><br>
【EMail】：<%= @contact.email %><br>
【要件】：<%= @contact.subject %><br>
【お問い合わせ内容】<br>
<span style="White-space: pre-wrap;"><%= @contact.message %></span>