<div class="container">
  <div class="row">
    <div class= "col-md-10">
      <span><%= image_tag 'top1.jpg', :class => 'top_img' %></span>
      <span><%= image_tag 'top2.jpg', :class => 'top_img' %></span>
      <span><%= image_tag 'top3.jpg', :class => 'top_img' %></span>

    </div>
  </div>
  <div class="row">
    <div class="col-md-10">
      <span><%= image_tag 'top4.jpg', :class => 'top_img' %></span>
      <span><%= image_tag 'top5.jpg', :class => 'top_img' %></span>
      <span><%= image_tag 'top6.jpg', :class => 'top_img' %></span>
      <h1>Carstagram</h1>
    </div>
  </div>
</div>