<div class="row">
  <div class="mx-auto">

<h1>投稿ページ</h1>

<%= form_with model: @post_image, local:true do |f| %>

<h4>タイトル</h4>
<%= f.text_field :post_title %>

<h4>本文</h4>
<%= f.text_area :caption %>

<!--タグ付け機能-->
<h4>タグ</h4>
<%= f.text_field :tag_ids, class: "form-control", id:'tag_ids',\
placeholder: "タグ付け 複数付ける場合は , で区切ってください。" %>

<h4>画像</h4>
<%= f.attachment_field :image %>
<%= f.submit '投稿', class: "btn btn-success" %>
<% end %>

</div>
</div>